# Banco
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
SUPABASE_DATABASE_URL=

# Supabase
SUPABASE_URL=https://your-project.supabase.co

# App
FRONTEND_URL=http://localhost:3001
PORT=3000
NODE_ENV=development
